<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <script type="text/javascript" src="javascripts/jquery-1.11.3.js"></script>
    <!-- choose a theme file -->
    <link rel="stylesheet" href="bower_components/tablesorter/dist/css/theme.ice.min.css">
    <script type="text/javascript" src="bower_components/tablesorter/dist/js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="javascripts/fetch.js"></script>
    <!-- tablesorter widgets (optional) -->
    <script type="text/javascript"
            src="bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.js"></script>
    <script type="text/javascript" src="javascripts/tableSort.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script type="text/javascript" src="javascripts/Event.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="logo">

</div>

<div class="menubar">
    <nav class="navbar-default navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">News <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Charts</a></li>
            </ul>
        </div>
    </nav>
</div>

<div>
    <img src="../images/cointrendLogo.png">

</div>

<div class="container">
    <div class="row">

        <div class="leftContent col-md-2">

            <h3 class="text-center middleHeadline">Set Filter</h3>

            <div class="well" style="overflow: auto;">
                <h5 class="text-center setFilterFor">Timestamp</h5>
                <ul class="list-group checked-list-box">
                    <li class="list-group-item">Week</li>
                    <li class="list-group-item" data-checked="true">Month</li>
                    <li class="list-group-item">Year</li>
                </ul>
                <h5 class="text-center setFilterFor">Type</h5>
                <ul class="list-group checked-list-box">
                    <li class="list-group-item">
                        <input name="checkbox" type="checkbox" id="reddit_comment" onchange="filter()"/>Comments
                    </li>
                    <li class="list-group-item">
                        <input name="checkbox" type="checkbox" id="reddit_submission" onchange="filter()"/>Thread
                    </li>
                    <li class="list-group-item">
                        <input name="checkbox" type="checkbox" id="filterTypeExternal" onchange="filter()"/>External
                        Source
                    </li>
                </ul>
                <h5 class="text-center setFilterFor">Source</h5>
                <ul class="list-group checked-list-box">
                    <li class="list-group-item" data-checked="true">Reddit</li>
                    <li class="list-group-item">Facebook</li>
                    <li class="list-group-item">Twitter</li>
                </ul>
            </div>
        </div>


        <div class="col-md-8">

            <div id="middleContent" style="text-align: center">
                <div class="searchline">
                    <div class="searchbar" id="searchId">
                        <form id="search" action="javascript:search();">
                            <input id="searchbar" type="text" placeholder="Search">
                        </form>
                    </div>

                </div>
            </div>
            <div class="resultTableDiv">
                <table id="myTable" class="tablesorter-ice">
                    <thead>
                    <tr>
                        <th>Rating</th>
                        <th>Article</th>
                        <th>Timestamp</th>
                        <th>Source</th>
                        <th>Relevance</th>
                    </tr>
                    </thead>
                    <tbody id="tablebody">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="rightContent col-md-2">
            <h3 class="text-center middleHeadline">New Events</h3>


            //*** Aufruf der Event-Funktion, als komplette Tabelle ohne eigene Zeilen (mit Zeilen id für
            href-Verlinkung)

            <table id="ETable" onload="Event()">
            </table>

            //***

        </div>
    </div>


</div>


<script>

    function filter() {
        // Number of the possible Filters
        var filterCount = 3;

        var currentFilter = "";

        for (var a = 0; a < filterCount; a++) {
            var checkbox = document.getElementsByName("checkbox")[a];
            if (checkbox.checked) {
                var activeFilter = checkbox.id;
                console.log(activeFilter);
                currentFilter += '{"term" : {"_type" : "' + activeFilter + '"}}, ';
            }
        }

        currentFilter = currentFilter.substring(0, currentFilter.length - 2);
        console.log(currentFilter);
        search();
    }

    // TODO Momentan dublizierte Methode um konflikte mit der Standart-Suche zu umgehen
    function searchAndFilter(currentFilter) {
        var filterRequest = document.getElementById('searchbar').value;
        fetch('http://82.165.156.193:9200/live/_search',
                {
                    method: 'post',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(
                            {
                                "query": {
                                    "query": {
                                        "bool": {
                                            "should": {
                                                "multi_match": {
                                                    "query": filterRequest,
                                                    "fields": ["title", "text", "author"]
                                                }
                                            }
                                        }
                                    }
                                },
                                "filtered": {
                                    "filter": {
                                        "bool": {
                                            "should": [
                                                currentFilter
                                            ]
                                        }
                                    }
                                }
                            })
                }
        ).then(function (response) {
                    return response.json()
                }).then(function (json) {
                    var data = json['hits']['hits'];
                    tableCreate(data);
                    console.log(data);
                    console.log(data[0]['_source']['title']);
                })

    }

    function search() {
        var filterRequest = document.getElementById('searchbar').value;
        fetch('http://82.165.156.193:9200/live/_search',
                {
                    method: 'post',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(
                            {
                                "query": {
                                    "bool": {
                                        "filter": {"term": {"_type": "reddit_submission" || "reddit_comment"}},
                                        "should": {
                                            "multi_match": {
                                                "query": filterRequest,
                                                "fields": ["title", "text", "author"]
                                            }
                                        }
                                    }
                                }
                            })
                }
        ).then(function (response) {
                    return response.json()
                }).then(function (json) {
                    var data = json['hits']['hits'];
                    tableCreate(data);
                    console.log(data);
                    console.log(data[0]['_source']['title']);
                })
    }

    function tableCreate(data) {
        $('#tablebody').empty().append(data.map(function (data) {
            return $('<tr>').append([
                $('<td>', {text: data._source.ups}),
                $('<td>').append($('<a>', {href: data._source.linkUrl, text: data._source.title})),
                // Datum TODO Converter
                $('<td>', {text: data._source.created}),
                $('<td>', {text: data._source.source}),
                $('<td>', {text: Math.floor((Math.random() * 10) + 1)})
            ]);
        }));
    }

</script>
</body>
</html>