
/* LOGO //////////////////////////////////////////////////////////////////////////////////////////////////////*/

.logo {
    z-index: 3;
    float: right;
    top: 0px padding-left : 10 px;
    padding-right: 20px;
    position: relative;
}

.logo img {
    padding-top: 2px;
    height: 80px;
    width: 250px;
}

/* MENU //////////////////////////////////////////////////////////////////////////////////////////////////////*/


.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.menubar {
    z-index: 0;

}

/* Left Content ////////////////////////////////////////////////////////////////////////////////////////////*/


/* Middle Content ////////////////////////////////////////////////////////////////////////////////////////////*/

/* Search */
#search {
    background: white !important;
    padding: 0px !important;
}

#search input[type="text"] {
    border: 1px solid #ccc;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #bebebe;
    width: 60%;
    padding: 6px 15px 6px 35px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

.container {
    width: 100%;
}

#middleContent {
    margin-right: 5%;
    margin-left: 5%;
}

#cloud {
    width: 500px;
    height: 500px;
}

#cloud span:hover{
    font-weight : bold;
}



.container-fluid {
    height: 80px;
    padding-left: 19%;
}

.navbar-nav {
    padding-top: 30px;
}


#resultTableDiv {
    border: 1px solid #555555 !important;
    border-top: 1px solid #555555 !important;
    text-align: center;;
}

.navbar-default.navbar {
    background-color: #B4BDC8 !important;
    font-weight: bold;
    color: black;
}

output {
    font-size: 10px;
}

/* Right Content ////////////////////////////////////////////////////////////////////////////////////////////*/


#leftContent {
    margin-left: 1%;
    margin-right: 1%;
}




.chartDiv {
    float: right;
    margin-right: 2%;
}



.rightContent {
    margin-top: 0%;
}

/* FILTER //////////////////////////////////////////////////////////////////////////////*/

.middleHeadline {
    font-size: 18px;
}

.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(157, 170, 202);
}

.well .list-group {
    margin-bottom: 0px;
}

.well {
    min-height: 20px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
}

.list-group-item.active {
    color: black !important;
    text-shadow: none !important;
    background-image: none !important;
    background-color: rgba(51, 122, 183, 0.35) !important;
    border-color: rgba(51, 122, 183, 0.35) !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #000;
    font-weight: bold;
    background-color: rgba(51, 122, 183, 0.35) !important;
    border-color: rgba(51, 122, 183, 0.35) !important;
}

.list-group-item .list-group-item-primary .active {
    background-color: rgba(51, 122, 183, 0.35);
}

#selectField{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 30px;
    width: 200px;
    color:black;
    background-color: #ff8c00;
    margin-top:1%;
}
#selectField2{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 30px;
    width: 200px;
    color:black;
    background-color: #ff8c00;
    margin-top:1%;
}
